/*File Name: app.css   Student: Betty Han    Student ID:301202325   Date: 2022.10.20*/

/*footer style*/
h6 {
	color: #f6f4f4;

	margin-top: 100 px;
}
/*page height*/
.contentHeight {
	height: 800px;
}
/*form layout*/
.clabel {
	width: 160px;
	float: left;
	text-align: right;
}
/* button style*/
.btn {
	background-color: #edd9d9;
    display: inline-block;
	margin-left: 10px;	
}
.flex-parent {
	display: flex;
  }
  
  .jc-center {
	justify-content: left;
	margin-left: 160px;
  }
 